[submodule "layers/poky"]
	path = layers/poky
	url = https://git.yoctoproject.org/git/poky
[submodule "layers/meta-raspberrypi"]
	path = layers/meta-raspberrypi
	url = https://git.yoctoproject.org/git/meta-raspberrypi
