GPU_MEM = "16"
BB_NUMBER_THREADS ?= "${@oe.utils.cpu_count()}"
PARALLEL_MAKE ?= "-j ${@oe.utils.cpu_count()}"

DISTRO ?= "poky"

KERNEL_IMAGETYPE = "zImage"

# Initramfs
INITRAMFS_IMAGE = "etcher-initramfs"
INITRAMFS_IMAGE_BUNDLE = "1"
KERNEL_INITRAMFS = "-initramfs"
INITRAMFS_TASK = ""

# Enable UART
ENABLE_UART = "1"

# We don't need these packages and they trigger a dependency on meta-oe. We
# avoid it by masking the recipes
BBMASK = "rpi-gpio python-sense-hat"

# gstreamer1.0-omx was updated and breaks with poky pyro
BBMASK += "gstreamer1.0-omx"

#DL_DIR ?= "${TOPDIR}/downloads"
#SSTATE_DIR ?= "${TOPDIR}/sstate-cache"

RM_OLD_IMAGE = "1"

# Additional image features
USER_CLASSES ?= "image-mklibs image-prelink"

# By default disable interactive patch resolution (tasks will just fail instead):
PATCHRESOLVE = "noop"

# Disk Space Monitoring during the build
BB_DISKMON_DIRS = "\
    STOPTASKS,${TMPDIR},1G,100K \
    STOPTASKS,${DL_DIR},1G,100K \
    STOPTASKS,${SSTATE_DIR},1G,100K \
    ABORT,${TMPDIR},100M,1K \
    ABORT,${DL_DIR},100M,1K \
    ABORT,${SSTATE_DIR},100M,1K"

CONF_VERSION = "1"
